.work-session-list {
    margin-top: 2.5vh;
    height: 60vh;
    width: 100%;

    overflow: scroll;

    background: rgba(194,90,60,0.62);
}

.work-session-definition-form {
    margin-top: 5vh;
    height: 30vh;
    width: 100%;
    margin-bottom: 2.5vh;

    background: rgba(194,90,60,0.62);
}